<h2>สินค้า</h2>
<hr class="border border-danger border-2 opacity-50">
<h4>เนื้อหมูทั้งหมด/All Pork</h4>  
<div class="row">
  <div class="col-2"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-pwNxq3ctbbULCj01yHhzCe6M?se=2024-09-10T10%3A41%3A53Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D9c093d02-32f0-4f6e-b2a7-d71e173f7f1c.webp&sig=rZ/60AizhdYLOC1hzfQ9XvJ1qm1pzRmWh9kbosrELvY%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หมูสันใน</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-KGxdMgpJGmEjUu6ncOCAVVkR?se=2024-09-10T10%3A42%3A08Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Deca225ac-5703-46f1-b466-19852a6d4b84.webp&sig=TouNd9aGAtTqftOhoisyY3YLeTTyoRIV0D3gV3KQ9HY%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หมูสันนอก</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-We5KIWvm33jujbfanDn3cUyG?se=2024-09-10T10%3A42%3A30Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D52bd8cc3-0394-49e7-8b0a-3618bc119b20.webp&sig=UQGwuI%2BBkOolav4IqT9Y8xQdiVy%2BPQQNyfRkuhf4uyg%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">สะโพกหมู</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-koVv1Jt7aoXzcTA7uZKSi8v7?se=2024-09-10T10%3A42%3A47Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dc00c6f03-a099-4a2c-ada0-8becadea19e9.webp&sig=wscx9tZ1wOvSWpA3zc5vnvb4imeU2NwMVBO6aW5asrQ%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">สันคอหมู</div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<h4>เครื่องในหมู / Pork Offal</h4>
<div class="row">
  <div class="col-2"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-u54OTTVIwEaqHn3EZp74acQF?se=2024-09-10T10%3A51%3A47Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D31ca37d5-6059-4259-878a-21ae9fe83891.webp&sig=%2BH2Vzd55%2BFmzxefi8BzHspVteEXXaW88z1L3DZ/RWRY%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ตับหมู</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-Ks5MhHrZVAkgnjWaoaLC7ust?se=2024-09-10T10%3A51%3A45Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Df07413b0-a8db-44ad-b107-907b1ba7fecc.webp&sig=2A3bDr73MxA1ed07vRMNNHnW4fGwaVgCxqGS72gs698%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ไส้อ่อนหมู</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-YqTPLKfs76a1AtBiNJjdXNnX?se=2024-09-10T10%3A52%3A48Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3De565d5db-56d1-45d9-95f0-8c77fef86765.webp&sig=ILTtRVPkNuQieQ3YJrgODWehGQTDGlYVMIzWSQJLEYU%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ม้ามหมู</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-SOprn2xVTGO8Ck3QLcZ4d8qr?se=2024-09-10T10%3A51%3A45Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D8465aa11-37b2-475f-93cd-bae5a390ae1c.webp&sig=PkKS5wNQgIA8XWPI2nrJ3qukjbnFjZ4/HBlVeZTyHRU%3D    "
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หัวใจหมู</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h4>หมูหมัก / Marinated Pork</h4>
<div class="row">
  <div class="col-2"></div>
  <div class="col-9">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-aPjfqYKqhm9dHjk2ZYAuNKby?se=2024-09-10T11%3A00%3A50Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D114b88c4-d19b-4a7a-a3e3-546928f704e7.webp&sig=VXHMVN9obIO5WF3SCNpLT2YHdsD42wWaWHHcfxvhQUM%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หมูหมักพริกไทย</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-NrBvD5RZUdsBlSF6NV1PKhLm?se=2024-09-10T10%3A59%3A46Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Df7056fa1-d4ab-47f3-ab1d-6962b3f265c6.webp&sig=HbkgQDZR71XKUBG7jx45ob%2Bril6iJ8wYbemRRAOhxj4%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หมูหมักนุ่ม</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-yPUzvKufr3QhkFEeqdjFzfOo?se=2024-09-10T10%3A56%3A38Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D80cb94ed-d09d-48be-a73b-f5bbb93f6cf3.webp&sig=o0zOBymgmq7wqJZRJzUywW7%2BrWgSTClnrH7QIi0BpRk%3D"
              class="rounded"
              style="width: 146px"

            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หมูหมักน้ำมันงา</div>
            
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="https://files.oaiusercontent.com/file-ZTcjlVGqbu41TCK6iTm9uhmB?se=2024-09-10T10%3A40%3A52Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D97011a52-bda1-46c8-a511-7baa4404e7f4.webp&sig=be6YAB5AuyK62UDYHowPWHiM0xuNFEvZxdDT%2BUI2vm4%3D"
              class="rounded"
              style="width: 146px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">หมูหมักสามเกลอ</div>
            
          </div>

