.carousel-item img {
    width: 100%; /* ยังคงทำให้ภาพกว้างเต็มหน้าจอ */
    height: 500px; /* กำหนดความสูงตามที่ต้องการ */
    object-fit: cover; /* ทำให้ภาพถูกครอบให้อยู่ในขนาดที่กำหนดโดยไม่ผิดสัดส่วน */
    border-radius: 12px; /* เพิ่มความโค้งมน */
    box-shadow: 0 4px 15px rgba(103, 103, 103, 0.2); /* เพิ่มเงาให้กับรูปภาพ */
    transition: transform 0.5s ease, opacity 0.5s ease; /* เอฟเฟกต์การเปลี่ยนภาพ */
  }
